<div class="jumbotron">
  <h1 class="texture">Meeting Room</h1>
  <h2 class="texture">
    Reserve, visualize e edite horários de uma Sala de Reuniões!
  </h2>
  <p>
    <%= link_to 'Crie Sua Conta', new_user_path, class: 'btn btn-primary btn-lg' %>
  </p>
</div>