<footer>
  <small>
  <% if !user_signed_in? %>
    <%= link_to 'Reserva de Salas. Teste N2 ESL.', root_path %>
    <% else %>
    <%= link_to 'Reserva de Salas. Teste N2 ESL.', current_user %>
    <% end %>
    
  </small>

  <nav>
    <ul>
      <li>
        <%= link_to 'Sobre', sobre_path %>
      </li>
      <li>
        <%= link_to 'Contato', contato_path %>
      </li>
    </ul>
  </nav>
</footer>