<footer>
  <small>
    <%= link_to 'Meeting Room. Teste N2 ESL.', root_path %>
  </small>

  <nav>
    <ul>
      <li>
        <%= link_to 'Sobre', '#' %>
      </li>
      <li>
        <%= link_to 'Contato', '#' %>
      </li>
    </ul>
  </nav>
</footer>