<nav class="navbar fixed-top navbar-inverse">
  <div class= "container-fluid">
        <a class="navbar-brand" href="#">Meeting Room</a>
            <div class=" navbar-auto navbar-collapse">
                <ul class="navbar-nav navbar-right mr-auto">
                    <button class="btn btn-link btn-lg" type="button">Entrar</button>
                </ul>
            </div>
    </div>
</nav>