<nav class="navbar fixed-top navbar-inverse">
  <div class= "container-fluid">
        <%= link_to 'Meeting Room', root_url, class: 'navbar-brand' %>
            <div class=" navbar-auto navbar-collapse">
                <ul class="navbar-nav navbar-right mr-auto">
                    <button class="btn btn-link btn-lg" type="button">Entrar</button>
                </ul>
            </div>
    </div>
</nav>